<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>kb layout manager</title>
    <meta name="description" content="quickly create new keyboard layouts">
    <meta name="author" content="Anton Lazarev">

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
<div id="body">
    <div id="header">
        <div id="header-info">
            <div id="title">kb layout manager</div>
            <div id="source"><a target="_blank" href="https://gitlab.com/antonok/kb-layout-manager">view source on gitlab</a></div>
        </div>
        <div id="header-controls">
            <div class="option-label">layer</div>
            <select id="layer-select" v-model="current_layer">
                <option v-for="layer in layers" v-bind:value="layers.indexOf(layer)">{{ layer }}</option>
            </select>
        </div>
    </div>
    <div id="keyboard-container">
        <div id="keyboard-spacer"></div>
        <div id="keyboard">
            <div class="keyboard-row" v-for="y in height">
                <keyboard-key :key="x + y * 14" v-for="x in width" :x="x-1" :y="y-1" :key_data="keys[y-1][x-1].data" :key_type="keys[y-1][x-1].type" :is_active="x-1 == focused_key.x && y-1 == focused_key.y" :layers="layers" v-on:updatekey="processKeyUpdate" v-on:focuskey="updateKeyFocus"></keyboard-key>
            </div>
        </div>
        <div id="keyboard-spacer"></div>
    </div>
    <div id="bottom-controls">
        <div class="options-section">
            <div class="options-title"> layers </div>
            <input type="text" id="newlayername" v-model="newlayername" placeholder="new layer name"></input>
            <button v-on:click="renameLayer" v-bind:disabled="newlayername == ''">rename layer</button>
            <button v-on:click="addLayer" v-bind:disabled="newlayername == ''">add layer</button>
            <button v-on:click="removeLayer" v-bind:disabled="layers.length <= 1">remove layer</button>
        </div>
        <div class="options-section">
            <div class="options-title"> layout </div>
            <input type="file" v-on:change="newLayerMapsImported" id="import-layermaps-file" class="hidden-file-input" name="layermaps.c"/>
            <label for="import-layermaps-file">import layermaps.c</label>
            <button v-on:click="exportMaps">export layermaps.c</button>
            <button v-on:click="exportMapsServer" v-bind:disabled="!server_connected">upload for build</button>
            <input type="checkbox" v-model="option_backup">backup</input>
            <input type="checkbox" v-model="option_make">compile</input>
            <input type="checkbox" v-model="option_flash">flash</input>
            <input type="checkbox" v-model="option_clean">clean</input>
        </div>
        <status-popup :current_status="server_status" :error_message="server_error_message" v-on:hide_status="set_idle" v-on:cancel_flash="cancel_flash"></status-popup>
    </div>
    <div id="kb2-notice">
        <span class="kb2-notice-title"><img src="/kb2.svg" alt="kb2"> is coming.</span>
        <span class="kb2-notice-details">Featuring built-in password manager, 2FA, Unicode database, filesystem, and more.</span>
        <div class="kb2-notice-nav">
            <a href="https://kb2.antonok.com">
                <div class="kb2-link">
                    <span>Show me ↪</span>
                </div>
            </a>
            <a onclick="document.getElementById('kb2-notice').style.display = 'none'">
                <div>
                    <span>Continue to kb layout manager ↪</span>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>
